# Лабораторна робота №4
## ФБ-21 Хав'юк Андрій
## Структури для роботи з великими обсягами даних в Python

**Мета роботи**: отримати навички роботи із структурами для зберігання в Python
(python, numpy, pandas, numpy array, dataframe, timeit)

**Основні поняття**: numpy масиви, кортежі, списки, фрейми, профілювання.

In [1]:
# Required inputs
import os
import requests
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

print("Libs have been imported successfully!")

Libs have been imported successfully!

In [6]:
# Still the same downloader...
def downloader(url):
    if not os.path.exists("data"):
        os.makedirs("data")
    response = requests.get(url)
    if response.status_code == 200:
        filename = os.path.join("data", url.split('/')[-1])
        with open(filename, "wb") as file:
            file.write(response.content)
        with zipfile.ZipFile(file, 'r') as zip:
            zip.extractall("data")
        print(f"File {filename} has been downloaded successfully!")
        return filename
    else:
        print(f"Error downloading file. Status code: {response.status_code}")
        return None

url = "https://archive.ics.uci.edu/static/public/235/individual+household+electric+power+consumption.zip"
# file = downloader(url)
file = "data/household_power_consumption.txt"

# №1 Pandas frame

In [11]:
start = datetime.now()
df = pd.read_csv(file, sep=';', na_values='?')
df.dropna(inplace=True)
end = datetime.now()
print(f"Execution time is {end - start}")
print(df.dtypes)

df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
df.tail(10)

Execution time is 0:00:01.501366
Date                      object
Time                      object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
2075249,2010-11-26,20:53:00,0.944,0.0,238.72,4.0,0.0,0.0,0.0
2075250,2010-11-26,20:54:00,0.946,0.0,239.31,4.0,0.0,0.0,0.0
2075251,2010-11-26,20:55:00,0.946,0.0,239.74,4.0,0.0,0.0,0.0
2075252,2010-11-26,20:56:00,0.942,0.0,239.41,4.0,0.0,0.0,0.0
2075253,2010-11-26,20:57:00,0.946,0.0,240.33,4.0,0.0,0.0,0.0
2075254,2010-11-26,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.0,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.0,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [12]:
start = datetime.now()
power = df[df['Global_active_power'] > 5]
print(f"Rows: {len(power)}")
end = datetime.now()
print(f"Time: {end - start}")
power.head()

Rows: 17547
Time: 0:00:00.010335

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [20]:
start = datetime.now()
voltage = df[df['Voltage'] > 235]
print(f"Rows: {len(voltage)}")
end = datetime.now()
print(f"Time: {end - start}")
voltage.head()

Rows: 1952491
Time: 0:00:00.171478

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

3. Обрати всі домогосподарства, у яких сила струму лежить в межах
19-20 А, для них виявити ті, у яких пральна машина та холодильних
споживають більше, ніж бойлер та кондиціонер.

In [21]:
start = datetime.now()
curStrength = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20) & (df['Sub_metering_2'] > df['Sub_metering_3'])]
print(f"Rows: {len(curStrength)}")
end = datetime.now()
print(f"Time: {end - start}")
curStrength.head()

Rows: 2509
Time: 0:00:00.020494

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

4. Обрати випадковим чином 500000 домогосподарств (без повторів
елементів вибірки), для них обчислити середні величини усіх 3-х
груп споживання електричної енергії, а також

In [23]:
start = datetime.now()
householdsRandomized = df.sample(n=500000, replace=True)
avgSubMetering1 = householdsRandomized['Sub_metering_1'].mean()
avgSubMetering2 = householdsRandomized['Sub_metering_2'].mean()
avgSubMetering3 = householdsRandomized['Sub_metering_3'].mean()
end = datetime.now()
print(f"Time: {end - start}")
print("[Avg] sub_metering_1:", avgSubMetering1)
print("[Avg] sub_metering_2:", avgSubMetering2)
print("[Avg] sub_metering_3:", avgSubMetering3)

Time: 0:00:00.189610
[Avg] sub_metering_1: 1.124374
[Avg] sub_metering_2: 1.30356
[Avg] sub_metering_3: 6.456004

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другоої полвини.

In [26]:
start = datetime.now()
# households consuming > 6 kW after 6pm
filtered = df[(df['Time'] > pd.to_datetime('18:00:00').time()) & (df['Global_active_power'] > 6)]
filtered = filtered[(filtered['Sub_metering_2'] > filtered['Sub_metering_1']) & (filtered['Sub_metering_2'] > filtered['Sub_metering_3'])]
# choose each 3 result from first half and each 4 result from second one
half1 = filtered.iloc[:len(filtered) // 2].iloc[2::3]
half2 = filtered.iloc[len(filtered) // 2:].iloc[3::4]
concatanetion = pd.concat([half1, half2])
end = datetime.now()
print(f"Time: {end - start}")
print(f"DF rows: {concatanetion.shape[0]}")
concatanetion.head(5)

Time: 0:00:00.089669
DF rows: 308

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
43,2006-12-16,18:07:00,6.474,0.144,231.85,27.8,0.0,37.0,16.0
3007,2006-12-18,19:31:00,6.158,0.442,229.08,27.0,0.0,36.0,0.0
17497,2006-12-28,21:01:00,7.062,0.270,235.76,30.2,2.0,65.0,17.0
17500,2006-12-28,21:04:00,7.376,0.238,234.67,31.4,1.0,72.0,17.0
17503,2006-12-28,21:07:00,7.248,0.000,235.34,30.8,1.0,72.0,17.0

# №2 Numpy array

In [47]:
start = datetime.now()
data = np.genfromtxt(file, delimiter=';', skip_header=1, dtype=str)
mask = np.all(data != '?', axis=1)
data = data[mask]
dataFloat = data[:, 2:].astype(float)
data = np.hstack([data[:, :2], dataFloat], dtype=object)
end = datetime.now()
print(f"Time: {end - start}")
print(data)

Time: 0:00:18.132851
[['16/12/2006' '17:24:00' 4.216 ... 0.0 1.0 17.0]
 ['16/12/2006' '17:25:00' 5.36 ... 0.0 1.0 16.0]
 ['16/12/2006' '17:26:00' 5.374 ... 0.0 2.0 17.0]
 ...
 ['26/11/2010' '21:00:00' 0.938 ... 0.0 0.0 0.0]
 ['26/11/2010' '21:01:00' 0.934 ... 0.0 0.0 0.0]
 ['26/11/2010' '21:02:00' 0.932 ... 0.0 0.0 0.0]]

1. Обрати всі домогосподарства, у яких загальна активна споживана
потужність перевищує 5 кВт.

In [35]:
start = datetime.now()
columnNumeric = data[:, 2].astype(float)
indices = np.where(columnNumeric > 5)
NPpower = data[indices]
print(f"Rows: {len(NPpower)}")
end = datetime.now()
print(f"Time: {end - start}")
print(NPpower[:5])

Rows: 17547
Time: 0:00:00.715056
[['16/12/2006' '17:25:00' '5.36' '0.436' '233.63' '23.0' '0.0' '1.0'
  '16.0']
 ['16/12/2006' '17:26:00' '5.374' '0.498' '233.29' '23.0' '0.0' '2.0'
  '17.0']
 ['16/12/2006' '17:27:00' '5.388' '0.502' '233.74' '23.0' '0.0' '1.0'
  '17.0']
 ['16/12/2006' '17:35:00' '5.412' '0.47' '232.78' '23.2' '0.0' '1.0'
  '17.0']
 ['16/12/2006' '17:36:00' '5.224' '0.478' '232.99' '22.4' '0.0' '1.0'
  '16.0']]

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [39]:
start = datetime.now()
columnNumeric = data[:, 4].astype(float)
indices = np.where(columnNumeric > 235)
NPvoltage = data[indices]
print(f"Rows: {len(NPvoltage)}")
end = datetime.now()
print(f"Time: {end - start}")
print(NPvoltage[:5])

Rows: 1952491
Time: 0:00:02.035899
[['16/12/2006' '17:28:00' '3.666' '0.528' '235.68' '15.8' '0.0' '1.0'
  '17.0']
 ['16/12/2006' '17:29:00' '3.52' '0.522' '235.02' '15.0' '0.0' '2.0'
  '17.0']
 ['16/12/2006' '17:30:00' '3.702' '0.52' '235.09' '15.8' '0.0' '1.0'
  '17.0']
 ['16/12/2006' '17:31:00' '3.7' '0.52' '235.22' '15.8' '0.0' '1.0' '17.0']
 ['16/12/2006' '17:38:00' '4.054' '0.422' '235.24' '17.6' '0.0' '1.0'
  '17.0']]

3. Обрати всі домогосподарства, у яких сила струму лежить в межах
19-20 А, для них виявити ті, у яких пральна машина та холодильних
споживають більше, ніж бойлер та кондиціонер.

In [48]:
start = datetime.now()
curStrength = data[(data[:,5] >= float(19)) & (data[:,5] <= float(20)) & (data[:,7] > data[:,8])]
print(f"Rows: {len(curStrength)}")
end = datetime.now()
print(f"Time: {end - start}")
print(curStrength[:5])

Rows: 2509
Time: 0:00:00.392906
[['16/12/2006' '18:09:00' 4.464 0.136 234.66 19.0 0.0 37.0 16.0]
 ['17/12/2006' '01:04:00' 4.582 0.258 238.08 19.6 0.0 13.0 0.0]
 ['17/12/2006' '01:08:00' 4.618 0.104 239.61 19.6 0.0 27.0 0.0]
 ['17/12/2006' '01:19:00' 4.636 0.14 237.37 19.4 0.0 36.0 0.0]
 ['17/12/2006' '01:20:00' 4.634 0.152 237.17 19.4 0.0 35.0 0.0]]

4. Обрати випадковим чином 500000 домогосподарств (без повторів
елементів вибірки), для них обчислити середні величини усіх 3-х
груп споживання електричної енергії, а також

In [53]:
randomInd = np.random.choice(data.shape[0], replace=True, size=500000)
householdsRandomized = data[randomInd]
sub_metering_1_values = householdsRandomized[:, 6]  
sub_metering_2_values = householdsRandomized[:, 7]  
sub_metering_3_values = householdsRandomized[:, 8]  
avgSubMetering1 = np.mean(sub_metering_1_values)
avgSubMetering2 = np.mean(sub_metering_2_values)
avgSubMetering3 = np.mean(sub_metering_3_values)
end = datetime.now()
print(f"Time: {end - start}")
print("[Avg] sub_metering_1:", avgSubMetering1)
print("[Avg] sub_metering_2:", avgSubMetering2)
print("[Avg] sub_metering_3:", avgSubMetering3)

Time: 0:05:21.053768
[Avg] sub_metering_1: 1.128422
[Avg] sub_metering_2: 1.303726
[Avg] sub_metering_3: 6.449322

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6
кВт за хвилину в середньому, серед відібраних визначити ті, у яких
основне споживання електроенергії у вказаний проміжок часу
припадає на пральну машину, сушарку, холодильник та освітлення
(група 2 є найбільшою), а потім обрати кожен третій результат із
першої половини та кожен четвертий результат із другої половини.

In [55]:
start = datetime.now()
# households consuming > 6 kW after 6pm
filtered = data[(data[:, 1] > '18:00:00') & (data[:, 2] > 6) & (data[:, 7] > data[:, 6]) & (data[:, 7] > data[:, 8])]
group1 = filtered[:len(filtered)//2]
group2 = filtered[len(filtered)//2:]
# choose each 3 result from first half and each 4 result from second one
each3 = group1[::3]
each4 = group2[::4]
concatanetion = np.concatenate((each3, each4), axis=0)
end = datetime.now()
print(f"Time: {end - start}")
print(f"DF rows: {concatanetion.shape[0]}")
print(concatanetion[:5])

Time: 0:00:00.375767
DF rows: 310
[['16/12/2006' '18:05:00' 6.052 0.192 232.93 26.2 0.0 37.0 17.0]
 ['16/12/2006' '18:08:00' 6.308 0.116 232.25 27.0 0.0 36.0 17.0]
 ['28/12/2006' '20:58:00' 6.386 0.374 236.63 27.0 1.0 36.0 17.0]
 ['28/12/2006' '21:02:00' 8.088 0.262 235.5 34.4 1.0 72.0 17.0]
 ['28/12/2006' '21:05:00' 7.23 0.152 235.22 30.6 1.0 73.0 17.0]]